In [1]:
import numpy as np
import pandas as pd

names = pd.Series(['andrew','bobo','claire','david','4'])
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [5]:
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [6]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
names[~names.str.isdigit()].str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
dtype: object

In [12]:
email = "dinesh@gmail.com"
email.split('@')[0]

'dinesh'

In [14]:
stocks = ['GOOG,APPL,AMZN','JPM,BAC,GS']
stock_series = pd.Series(stocks)
stock_series

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [17]:
stock_series.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [19]:
stock_series.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [20]:
stock_series.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [21]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [22]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object